<!DOCTYPE html>
<html>
   <head>
      <title>The Materialize Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
   </head>
   
   <body>
        <div class="container">
            <div class="card-panel teal lighten-2"><h3>Bem vindo!</h3></div>
            <div class="card-panel white lighten-2">
            <div class="card-action">
            <p>Comandos disponíveis para salvar entidades da API Star Wars.</p>
            <p>Devem ser rodados em sequência:</p>
                <ul class="collection">
                    <li class="collection-item">rake starwars:species</li>
                    <li class="collection-item">rake starwars:planets</li>
                    <li class="collection-item">rake starwars:starships</li>
                    <li class="collection-item">rake starwars:people</li>
                </ul>
            </div>
            </div>
                
   </body>
</html>